/***************************************
************ GENERAL STYLES ************
***************************************/
:root{
    --dark-blue:#165bba;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/***************************************
************ LAYOUT ************
***************************************/
small{
    font-size: 0.6rem;
}


/***************************************
************ TRANSITION ************
***************************************/

#side_bar ul li, #side_bar div a{
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}
#side_bar ul li:hover, #side_bar div a:hover{
    left: 0.5rem;
}

#side_bar_sm ul li, #side_bar_sm div a{
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}
#side_bar_sm ul li:hover, #side_bar_sm div a:hover{
    left: 0.5rem;
}


/***************************************
************ SITE SECTION ************
***************************************/

/******** HEADER **********/

header{
    height: 4rem;
    width: 100%;
    background-color: var(--bs-white);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}
#big_logo img{
    max-width: 100%;
    height: 2rem;
}
#small_logo img{
    max-width: 100%;
    height: 3rem;
}
header ul{
    padding: 0 1rem 0 2rem;
}
header ul li i:before{
    display: table-cell;
    height: 2rem;
    vertical-align: middle;
}
header .form-control, header .searchbar{
    background-color: var(--bs-gray-400);
}
header .fa-magnifying-glass{
    font-size: 1.1rem;
}
header .dropdown{
    cursor: pointer;
}

/******** BOTTOM CONTAINER **********/

#bottom_cont{
    height: 100vh;
    padding-top: 4rem;
}

/******** SIDE BAR **********/

.side_bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bs-dark);
    color: var(--bs-white);
    font-size: 1rem;
}
#side_bar{
    min-width: 8rem;
    padding: 1rem 1.5rem;
}
#side_bar_sm{
    min-width: 4rem;
    padding:1rem;
    font-size: 1.3rem;
}


/******** CONTENTS **********/

#contents{
    width: 100%;
    min-width: 300px;
    background-color: var(--bs-gray-100);
    color: var(--bs-black);
    overflow-y: scroll;
}

/******** TOP BAR **********/

#top_content_bar{
    background-color: var(--bs-blue);
}
#breadcrumb small{
    background-color: var(--dark-blue);
}
#breadcrumb small:hover{
    background-color: var(--bs-primary-text-emphasis);
}
#top_content_bar .plus{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1rem;
}
#offcanvasRight{
    width: 50%;
}

@media screen and (max-width:992px) {
    #offcanvasRight{
        width: 100%;
    }
    
}

/******** TWO COLUMN SECTION **********/

/******** LEFT BAR **********/

/* Next class */

#left_col img{
    max-width: 100%;
    height: 2rem;
    width: 2rem;
}
#left_col h3, #right_col h3{
    background-color: var(--bs-gray-200);
}
#next_class .fa-trash:hover, #next_class .fa-pen:hover{
    background-color: var(--bs-gray-600);
    color: var(--bs-white);
    cursor: pointer;
}
#next_class .container-fluid.hovering:hover{
    background-color: var(--bs-gray-300);
}

/* F.A.Q. accordion*/

#faq button{
    background-color: var(--bs-gray-100);
    ;
}

/******** RIGHT BAR **********/

/* Active user container */

#active_users img{
    max-width: 100%;
}


/* DEBUG */






