/***************************************
************ GENERAL STYLES ************
***************************************/
:root{
    --dark-blue:#165bba;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/***************************************
************ LAYOUT ************
***************************************/
small{
    font-size: 0.6rem;
}






/***************************************
************ SITE SECTION ************
***************************************/

/* HEADER */

header{
    height: 4rem;
    width: 100%;
    background-color: var(--bs-gray-300);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}
#big_logo img{
    max-width: 100%;
    height: 2rem;
}
#small_logo img{
    max-width: 100%;
    height: 3rem;
}
header ul{
    padding: 0 1rem 0 2rem;
}
header ul li i:before{
    display: table-cell;
    height: 2rem;
    vertical-align: middle;
}
header input{
    background-color: black;
}

/* BOTTOM CONTAINER */

#bottom_cont{
    height: 100vh;
    padding-top: 4rem;
}

/* SIDEBAR */

.side_bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bs-dark);
    color: var(--bs-white);
}
#side_bar{
    min-width: 8rem;
    padding: 1rem 2rem;
}
#side_bar_xs{
    min-width: 4rem;
    padding:1rem;
}


/* CONTENTS */

/* TOP BAR */

#top_content_bar{
    background-color: var(--bs-blue);
}
#top_content_bar #breadcrumb small{
    background-color: var(--dark-blue);
}
#top_content_bar .plus{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1rem;
}

/* 2 COLUMN SECTION */

#contents{
    width: 100%;
    min-width: 300px;
    background-color: var(--bs-gray-100);
    color: var(--bs-black);
    overflow-y: scroll;
}

/* LEFT BAR */

#left_col img{
    max-width: 100%;
    height: 2rem;
    width: 2rem;
}
#left_col h3{
    background-color: var(--bs-gray-200);
}









/* DEBUG */


/* [class*="col"]{
    border:1px solid black;
} */



